<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    {{#foreach category.breadcrumb}}
      <li><a href="{{path}}">{{name}}</a></li>
    {{/foreach}}
    <li class="active">{{text category.name words="15"}}</li>
  </ol>
  <div class="page-header text-center">
    <h1>{{category.name}}</h1>
  </div>
  <div class="content">
    {{{content}}}
  </div>
</div>